<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

<form action="login" method="POST">
    <h2>VISMA</h2>
        <div>
            <label>Username</label>
            <input type="text" name="usr" required minlength="8">
        </div>
    <div>
        <label>Password</label>
        <input type="password" name="pwd" required minlength="8">
    </div>

    <p th:if="${param.invalid != null}" th:text="${param.invalid}" />

    <button type="submit">Login</button>
</form>

</body>
</html>