<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>Showing registered receipts</title>
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
        rel="stylesheet">
</head>
<body class="container">
<form action="/authentication/logout" method="GET">
  <button type="submit">Logout</button>
</form>
<form action="/receipt_page/new" method="GET">
  <button type="submit">Register a new receipt</button>
</form>
<form class="col card p-3 my-5" method="post" th:action="@{/receipt_page/new}" th:object="${receipt}">
<table class="table table-striped table-bordered ">
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Description</th>
    <th>Category</th>
    <th>Price</th>
  </tr>
  <tr th:each="receip : ${receipt}">
    <td class="align-middle" th:text="${receip.title}"></td>
    <td class="align-middle" th:text="${receip.date}"></td>
    <td class="align-middle" th:text="${receip.description}"></td>
    <td class="align-middle" th:text="${receip.category}"></td>
    <td class="align-middle" th:text="${receip.price}"></td>
    <td class="align-middle text-center"><a class="btn btn-secondary" th:href="'/' + ${receip.id}">✏</a></td>
  </tr>
</table>
</body>
</html>